body{
    margin: 0 auto;
    background: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
#title{
    text-align: center;
    color: #ffff;
    padding: 1em;
}
.box{
    border: 1px solid;
    border-radius: 1em;
    box-shadow: 5px 5px 600px 100px;
}


#formBuy{
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 2em;
}
#formBuy *{
    border-radius: 5px;
    height: 35px;
}

#nameProduct{
    width: 50%;
}
#countProducts{
    width: 10%;
}
#addNote{
    width: 30%;
    border-color: yellow;
    background: #000;
    color: yellow;
    transition: 1s;
}
#addNote:hover{
    transform: scale(1.05);
}

.note{
    width: 80%;
    color: white;
    margin: 2em auto;
    padding-top: .5em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid yellow;
}

.containerButtons .buttonDone{
    margin-right: .2em;
}
.note .containerButtons{
    margin-left: auto;
    display: flex;

    align-items: center;
}
.containerButtons *{
    display: block;
}
.countProducts{
    background: yellow;
    color: black;
    font-weight: 700;
    padding: .5em;
    border-radius: .3em;
    margin:0 1em .5em 1em;
}

.nameProducts,.countProducts, .buttonsDelete {
    padding: .5em;
}
.nameProducts{
    font-size: 1.2em;
}
.buttonsDelete{
    color: yellow;
    font-size: 1.2em;
    border: none;
    background: none;
    transition: .5s;

}
.buttonsDelete:hover{
    color: red;
    transition: .5s;
}
.buttonDone{
    width: 1.2em;
    height: 1.2em;
}

